
html{
background: #eee;
}

body{
	min-width: 950px;
    width: 80%;
	margin: 0px;
	margin-left: auto;
	margin-right: auto;
	background: white;
	border-left: 1px solid #B7B7B7;
	border-right: 1px solid #B7B7B7;
	font-family: arial, open sans;
	font-size: 14pt;
}

.{}

a {
	text-decoration: none;
	border-bottom: 1px dotted;
}

a:hover {
	background: steelblue;
	color: white;
}

a img {
	border:1px solid #738BBC;	
}

h2 {	
	position: relative;
	left: -30px;
}

h3 {
	position: relative;
	left: -15px;
}

dt {
	font-weight: bold;
	margin-bottom: 3px;
}

dd{
	margin-bottom: 5px;
}


.header {
	width: 100%;
	border-bottom: 1px solid #B7B7B7;
	padding: 0px;
	margin: 0px;
	position: relative;
}

.header img{
	border: none;
	margin: 0px;
	padding: 0px;
}

.header a img {
	position: relative;
	top: 1px;
	border: none;
	margin: 0px;
	width: 64px;
}


.nav {
	text-align: center;
	background: #f3f3f3;
	background: #E8EEF9;
	margin: 0px;
	padding: 2px;
	border-bottom: 1px solid #B7B7B7;
	font-size: 11pt;
}

.nav a {	
	margin-right: 5px;
	color: black;
	padding: 10px;
}

.nav a:visited {
	color: #333; 
}

.nav a:hover {
	background: steelblue;
	color: white;
}


.header .title {
	background: #F7F7F7;
	background: #FFFFE6;
	font-size: 14pt;	
	position: relative;
	text-align: center;
	margin: 0px;	
	width: 100%;
	padding: 1px;
	padding-top: 1em;
}

.header .title h1 {
	font-size: 23pt;
	margin-top: 3px;
	margin-bottom: 0px;
}

.header .title h4 {
	margin-top: 0px;
}


.footer {
	margin-top: 5em;
	/*border-top: 1px solid #B7B7B7;*/
	font-size: 9pt;
	color: #666;
	text-align: center;
	padding: 2em;
	position: relative;
	clear: none;
}


.main {
	margin-left: 10px;
	padding-left: 50px;
	padding-right: 20px;
}


.about{
	margin-right: 50px;
}

.about li {
	margin-bottom: 10px;
}

td {
  padding: 0px;
}

table.product {
	border-collapse: collapse;
	border: 1px solid #B7B7B7;
    width: 95%;
}

table.product th {
	padding: 5px;
	background-color: #E8EEF9;
	font-weight: bold;
}

table.product  td {
	padding: 5px;
	padding-top: 5px;
	padding-bottom: 3px;
	border-bottom: 1px solid #DFDFDF;
}

table.contact td {
	vertical-align: top;
	padding-bottom: 15px;
}

table.contact td.key {
	font-weight: bold;
	width: 200px;
	padding-right: 2em;
	text-align: right;
}



